

*{
		padding:0px;
		margin:0px;
}
		header{
			   
			    width: 100%;
				height: 60vh;
				background-repeat: no-repeat;
			   position:static; 
			   #nav {
			    background-color: #037f99;
			    // height:12vh;
			    #title{
			    	font-family: 'Baloo Paaji', cursive;
			    	color:white;
			    	font-size:40px;
			    	// margin-left:80px;

			    	& span{
			    			color:#fa7673;
			    	}
			    }
			}
			#menu {
				color: #f4f0bb;
			}

			.image{
				width: 100%;
				height: 94vh;
				background-image: url(../img/img-1.jpg);
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;
			    margin-left:0.3%;
			    margin-top:-3%;
			   
			}
			#fondo{
				background:rgba(32,85,100,0.8);
				height:60vh;
				text-align: center;
				margin-left:8%;
				color:#fff;
				margin-top:6%;
				font-size:20px;
				font-family: 'Baloo Paaji', cursive;
				.text-bunny{
					color: #fa7673;
					font-size:70px;
				}
				.text{
					margin-left:25%;
					margin-top: 10%;
				}
			}

		}
		h4{
		    font-family: 'Baloo Paaji', cursive;
                 color:#fa7673;	
		}
		.blue{

			background:#037f99;
			color:#fff;
		}
		.section-1{
			margin-top:30%;
			text-align:center;
			.blue{
				background:#037f99;
				color:white;
				.caption h4{
                 font-family: 'Baloo Paaji', cursive;
                 color:#fa7673;
				}
				.caption p{
                 font-family: 'Prompt', sans-serif;
                 color:#fff;
                 font-style:oblique;
				}
			}
			
		}
		.section-2{
		background:#037f99;
		.caption{
			background:#dff7f6;
			p,strong{
                 font-family: 'Prompt', sans-serif;
                 color:#000;

				}
			   iframe{
			   	width:100%;
			   	height:50vh;
			   }
			   .icon{
			   		margin-left:30px;
			   		i{
			   		margin-left:20px;
			   		border-radius:50px;
			   		color:#037f99;
			   		padding:10px 10px;
			   		background:	#fff;
			   		}
			   }
			} 
			.input{
				margin-top:10%;
				span{
					background:#ecf7fb;
					padding:30px 30px;
                    border-radius:10px;
					& input{
                       
						padding:25px 40px;
					}
					#radius{
					 border-radius:10px;	
					}
				}
			}	
		}
		.rabbit{
				height:15vh;
				// background-repeat:no-repeat;
                background-image: url(../img/bunny-head.png);
			    background-size: 16%;
			    // margin-left:10vh;

		}
		footer{
			height:12vh;
			text-align:center;
			color:#fff;
			background:#037f99;
			margin-button:0px;
		}


@media (max-width: 1000px ){
.rabbit { height:5vh;}
}